init.author.name = Imajing
init.author.email = devro@imajing.eu
# an email is required to publish npm packages
email=bnegru@imajing.eu
always-auth=true

registry=http://nexus.imajing:8081/repository/imajing/

_auth=ZGV2ZWxvcGVyOnBhcm9sYQ==
